<div class="container">
  <section>
    <h2>Signals</h2>
    <div tuiCarouselButtons class="wrapper">
      <button
        iconStart="@tui.chevron-left"
        tuiIconButton
        type="button"
        (click)="carousel.prev()"
      >
        Previous
      </button>
      <tui-carousel #carousel class="carousel">
        <div *tuiItem class="item">
          <h4 class="title">Create and change writable signals</h4>
          <p class="code" code>const count = signal(1)</p>
          <p class="code" code>count.set(3)</p>
          <div class="result">
            <h3>{{ count() }}</h3>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onChangeSignal(3)"
            >
              Set to 3
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onChangeSignal(0)"
            >
              Restart
            </button>
          </div>
        </div>
        <div *tuiItem class="item">
          <h4 class="title">Computed signals (read-only, derived, cached)</h4>
          <p class="code" code>const count = signal(1)</p>
          <p class="code" code>
            const doubleCount = computed(() => count() * 2)
          </p>
          <p class="code-error" code>
            <tui-icon icon="@tui.x" /> doubleCount.set(3)
          </p>
          <div class="result">
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onSwitch()"
            >
              Switch
            </button>
            <h3 *ngIf="switched; else switched2">count = {{ count() }}</h3>
            <ng-template #switched2>
              <h3>double count = {{ doubleCount() }}</h3>
            </ng-template>
          </div>
        </div>
        <div *tuiItem class="item">
          <h4 class="title">Computed signal dependencies are dynamic</h4>
          <p class="code" code>const showCount = signal(false)</p>
          <p class="code" code>const count = signal(0)</p>
          <p class="code" code>
            const conditionalCount = computed(() => showCount() ? count() :
            'Nothing to see here!')
          </p>
          <div class="result">
            <h3>{{ conditionalCount() }}</h3>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onShowCount(true)"
            >
              Show count
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onShowCount(false)"
            >
              Hide count
            </button>
          </div>
        </div>
      </tui-carousel>
      <button
        iconStart="@tui.chevron-right"
        tuiIconButton
        type="button"
        (click)="carousel.next()"
      >
        Next
      </button>
    </div>
  </section>
  <section><h2>Effects</h2></section>
</div>
