<div class="container">
  <section>
    <h2>Signals</h2>
    <p>
      A signal is a wrapper around a value that notifies consumers when that
      value changes.
    </p>
    <div tuiCarouselButtons class="wrapper">
      <button
        iconStart="@tui.chevron-left"
        tuiIconButton
        type="button"
        (click)="carousel.prev()"
      >
        Previous
      </button>
      <tui-carousel #carousel class="carousel">
        <div *tuiItem class="item">
          <h4 class="title">1. Create and change writable signals</h4>
          <p class="code" code>const count = signal(1)</p>
          <p class="code" code>count.set(3)</p>
          <div class="result">
            <h3>{{ count() }}</h3>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onChangeSignal(3)"
            >
              Set to 3
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onChangeSignal(1)"
            >
              Restart
            </button>
          </div>
        </div>
        <div *tuiItem class="item">
          <h4 class="title">
            2. Computed signals (read-only, derived, cached)
          </h4>
          <p class="code" code>const count = signal(1)</p>
          <p class="code" code>
            const doubleCount = computed(() => count() * 2)
          </p>
          <p class="code-error" code>
            <tui-icon icon="@tui.x" /> doubleCount.set(3) // non-writable
          </p>
          <div class="result">
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onSwitch()"
            >
              Switch
            </button>
            <h3 *ngIf="!switched; else switched2">count = {{ count() }}</h3>
            <ng-template #switched2>
              <h3>double count = {{ doubleCount() }}</h3>
            </ng-template>
          </div>
        </div>
        <div *tuiItem class="item">
          <h4 class="title">3. Computed signal dependencies are dynamic</h4>
          <p class="code" code>const showCount = signal({{ showCount() }})</p>
          <p
            class="code"
            code
            *ngIf="showCount() === true; else falseShowCount"
          >
            const count = signal(1)
          </p>
          <ng-template #falseShowCount>
            <p class="code-disabled" code>
              <tui-icon icon="@tui.eye-off" /> const count = signal(1) // not
              read
            </p>
          </ng-template>
          <p class="code" code>
            const conditionalCount = computed(() => showCount() ? count() :
            'Nothing to see here!')
          </p>
          <div class="result">
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="
                showCount() === false ? onShowCount(true) : onShowCount(false)
              "
            >
              {{ showCount() === false ? "Show count" : "Hide count" }}
            </button>
            <h3>{{ conditionalCount() }}</h3>
          </div>
        </div>
      </tui-carousel>
      <button
        iconStart="@tui.chevron-right"
        tuiIconButton
        type="button"
        (click)="carousel.next()"
      >
        Next
      </button>
    </div>
  </section>
  <section>
    <h2>Effects</h2>
    <p>
      An effect is an asynchronous operation that runs whenever a signal value
      changes.
    </p>
    <h4>Injection context:</h4>
    <ul>
      <li>Inside a constructor (component, directive, or service)</li>
      <li>Assign to a field (const loggingEffect = effect(() => ... ))</li>
      <li>
        With Injector (<a
          tuiLink
          href="https://angular.dev/guide/signals#injection-context"
          >see docs</a
        >)
      </li>
    </ul>
    <div tuiCarouselButtons class="wrapper">
      <button
        iconStart="@tui.chevron-left"
        tuiIconButton
        type="button"
        (click)="carousel2.prev()"
      >
        Previous
      </button>
      <tui-carousel #carousel2 class="carousel">
        <div *tuiItem class="item">
          <h4 class="title">1. Create effect</h4>
          <p class="code" code>count = signal(1)</p>
          <p class="code" code>count.set(3)</p>
          <p class="code" code>effect(() => console.log(this.count()))</p>
          <p>Check the console!</p>
          <div class="result">
            <h3>{{ count() }}</h3>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onChangeSignal(3)"
            >
              Set to 3
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onChangeSignal(1)"
            >
              Restart
            </button>
          </div>
        </div>
        <div *tuiItem class="item">
          <h4 class="title">2. Destroy effect</h4>
          <p>
            Effects are destroyed automatically, but if you need to do it
            manually:
          </p>
          <p class="code" code>count = signal(1)</p>
          <p class="code" code>count.set(3)</p>
          <p class="code" code>countEffect: EffectRef</p>
          <p class="code" code>
            this.countEffect = effect(() => console.log(this.count()))
          </p>
          <p class="code" code>countEffect.destroy() // on btn click</p>
          <p>Check the console!</p>
          <div class="result">
            <h3>{{ count() }}</h3>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onChangeSignal(3)"
            >
              Set to 3
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onChangeSignal(1)"
            >
              Restart
            </button>
            <button
              appearance="warning"
              tuiButton
              type="button"
              size="s"
              (click)="onDestroyEffect()"
            >
              Destroy effect
            </button>
          </div>
        </div>
      </tui-carousel>
      <button
        iconStart="@tui.chevron-right"
        tuiIconButton
        type="button"
        (click)="carousel2.next()"
      >
        Next
      </button>
    </div>
  </section>
</div>
