$accent-color: #b9ff66;

header[tuiNavigationHeader][tuiNavigationHeader] {
  font: var(--tui-font-text-l);
  padding: 1.7rem 5rem;
}

span {
  cursor: pointer;
}

tui-icon {
  margin-right: 0.5rem;
  color: $accent-color;
}

header[tuiNavigationHeader][tuiNavigationHeader] [tuiNavigationLogo] tui-icon {
  font-size: 1.5rem;
}
