<div class="container">
  <section>
    <h2>Input</h2>
    <div tuiCarouselButtons class="wrapper">
      <!-- <button
        iconStart="@tui.chevron-left"
        tuiIconButton
        type="button"
        (click)="carousel.prev()"
      >
        Previous
      </button> -->
      <tui-carousel class="carousel">
        <div *tuiItem class="item">
          <h4 class="title">1. Accepting data with inputs</h4>
          <p class="code-error" code>&#64;Input // old syntax</p>
          <p class="code" code>age = input(21) // 21 - default value</p>
          <p class="code-disabled" code>
            age = input&lt;number&gt;() // no default value
          </p>
          <p class="code" code>
            &lt;p [age]="50"&gt; // binding to the template
          </p>
          <!-- <div class="result">
            <button appearance="secondary" tuiButton type="button" size="s">
              Set to 3
            </button>
            <button appearance="secondary" tuiButton type="button" size="s">
              Restart
            </button>
          </div> -->
        </div>
        <!-- <div *tuiItem class="item">
          <h4 class="title">2. Model inputs</h4>
          <p class="code" code>guests = model(7)</p>
          <p class="code" code>dishes = signal(0)</p>
          <p class="code" code>
            newGuestCame() &#123; <br />
            this.guests.update(oldGuests => oldGuests + 1); <br />
            &#125;
          </p>
          <p [(guests)]="dishes" class="code" code>template: `&lt;p [(guests)]="dishes" /&gt;`,</p>
          <div class="result">
            <h3>Guests: {{guests()}}</h3>
            <h3>Dished: {{dishes()}}</h3>
            <button appearance="secondary" tuiButton type="button" size="s" (click)="newGuestCame()">
              New guest came!
            </button>
          </div>
        </div> -->
      </tui-carousel>
      <!-- <button
        iconStart="@tui.chevron-right"
        tuiIconButton
        type="button"
        (click)="carousel.next()"
      >
        Next
      </button> -->
    </div>

    <h2>Template</h2>
    <h3>Control flow</h3>
    <div tuiCarouselButtons class="wrapper">
      <button
        iconStart="@tui.chevron-left"
        tuiIconButton
        type="button"
        (click)="carousel.prev()"
      >
        Previous
      </button>

      <tui-carousel #carousel class="carousel">
        <div *tuiItem class="item">
          <h4 class="title">1. &#64;if, &#64;else-if, &#64;else</h4>
          <p class="code-error" code>*NgIf, *NgIfElse // old syntax</p>
          <p class="code" code>
            &#64;if (msg === 'You clicked... 1!') &#123;<br />&#60;p&gt;Now
            click 2!&#60;p&gt;<br />&#125; &#64;else if (b > a) &#123;<br />
            &#60;p&gt;Now click 3!&#60;p&gt; <br />&#125; &#64;else &#123;
            &#60;p&gt;Now click 1!&#60;p&gt; &#125;
          </p>

          <div class="result">
            <h3>{{ msg }}</h3>
            @if (msg.includes('1')) {
            <p>Now click 2!</p>
            } @else if (msg.includes('2')) {
            <p>Now click 3!</p>
            } @else {
            <p>Now click 1!</p>
            }
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onMsg(1)"
            >
              {{ a }}
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onMsg(2)"
            >
              {{ b }}
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onMsg(3)"
            >
              {{ c }}
            </button>
          </div>
        </div>

        <div *tuiItem class="item">
          <h4 class="title">2. &#64;for, &#64;empty</h4>
          <p class="code-error" code>*NgFor // old syntax</p>
          <p class="code" code>
            &#64;for (name of names; track $index) &#123;<br />&#60;li&gt;
            &#123; name &#125;, and they're &#123; $index + 1 &#125; out of
            <br />
            &#123; $count &#125;<br />
            &#123; $first ? ", and they came first" : "" &#125;<br />
            &#123; $last ? ", and they came last" : "" &#125; &#60;/li&gt;<br />&#125;
            &#64;empty &#123;<br />
            &#60;p&gt;Just me!&#60;p&gt; <br />
            &#125;
          </p>

          <h3>Who's there?</h3>
          <ol>
            @for (name of names; track $index) {
            <li>
              {{ name }}, and they're {{ $index + 1 }} out of {{ $count }}
              {{ $first ? ", and they came first" : "" }}
              {{ $last ? ", and they came last" : "" }}
            </li>
            } @empty {
            <p>Just me!</p>
            }
          </ol>
          <div class="result result-big">
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onAddName('PG')"
              (click)="isDisabled1 = true"
              [attr.disabled]="isDisabled1 ? true : null"
            >
              Add PG
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="onAddName('Sophie')"
              (click)="isDisabled2 = true"
              [attr.disabled]="isDisabled2 ? true : null"
            >
              Add Sophie
            </button>
            <button
              appearance="warning"
              tuiButton
              type="button"
              size="s"
              (click)="
                names = ['Dan', 'Phil'];
                isDisabled2 = false;
                isDisabled1 = false
              "
            >
              Leave D&P alone!
            </button>
            <button
              appearance="negative"
              tuiButton
              type="button"
              size="s"
              (click)="names = []; isDisabled2 = false; isDisabled1 = false"
            >
              Leave ME alone!
            </button>
          </div>
        </div>

        <div *tuiItem class="item">
          <h4 class="title">2. &#64;switch, &#64;case, &#64;default</h4>
          <p class="code-error" code>*NgSwitch // old syntax</p>
          <p class="code" code>
            &#64;switch (icon) &#123;<br />&#64;case ("heart") &#123;<br />
            &#60;icon&gt;heart&#60;/icon&gt;<br />...<br />&#125; &#64;default
            &#123;<br />
            &#60;icon&gt;?&#60;icon&gt; <br />
            &#125;&#125;
          </p>

          <div class="result">
            @switch (icon) { @case ("heart") {
            <h3><tui-icon icon="@tui.heart"></tui-icon></h3>
            } @case ("star") {
            <h3><tui-icon icon="@tui.star"></tui-icon></h3>
            } @case ("sun") {
            <h3><tui-icon icon="@tui.sun"></tui-icon></h3>
            } @default {
            <h3><tui-icon icon="@tui.circle-help"></tui-icon></h3>
            } }
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="icon = 'heart'"
            >
              Heart
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="icon = 'star'"
            >
              Star
            </button>
            <button
              appearance="secondary"
              tuiButton
              type="button"
              size="s"
              (click)="icon = 'sun'"
            >
              Sun
            </button>
          </div>
        </div>
      </tui-carousel>
      <button
        iconStart="@tui.chevron-right"
        tuiIconButton
        type="button"
        (click)="carousel.next()"
      >
        Next
      </button>
    </div>
  </section>
</div>
