$accent-color: #b9ff66;

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2rem;
  padding: 3rem 5rem;

  button {
    min-width: 10rem;

    tui-icon {
      background-color: $accent-color;
      border-radius: 1rem;
    }
  }
}
