<div class="grid-container">
  <button tuiCardLarge tuiHeader tuiSurface="floating" type="button">
    <h2 tuiTitle>Signals</h2>
    <aside tuiAccessories>
      <tui-icon icon="@tui.chevron-right" tuiAppearance="flat" />
    </aside>
  </button>

  <button tuiCardLarge tuiHeader tuiSurface="floating" type="button">
    <h2 tuiTitle>Forms</h2>
    <aside tuiAccessories>
      <tui-icon icon="@tui.chevron-right" tuiAppearance="flat" />
    </aside>
  </button>

  <button tuiCardLarge tuiHeader tuiSurface="floating" type="button">
    <h2 tuiTitle>HTTP</h2>
    <aside tuiAccessories>
      <tui-icon icon="@tui.chevron-right" tuiAppearance="flat" />
    </aside>
  </button>
</div>
